* { margin: 0;
  padding: 0;
  box-sizing: border-box;}

  body, input {
  font-family: 'Poppins', sans-serif;
  }

  body {
  font-size: 14px;
  line-height: 24px;
  background: #E5E5E5;
  }

  body::before {
  content: '';
  width: 100%;
  height: 436px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #535971;
  }

  body span {
  font-size: 12px;
  line-height: 20px;
  }

  .page {
  width: 750px;
  margin: auto;
  }

  header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 48px;  
  line-height: 60px;
  color: #FFFFFF;
  width: 163px;
  margin-top: 140px;
  }

  header p {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  width: 417px;
  margin-top: 18px;
  } 

  form {
  background: #FFFFFF;
  margin-top: 58px;
  min-height: 300px;
  border-radius: 20px 20px 0px 0px;
  padding: 56px 74px 72px 54px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  }

  fieldset {
  border: none;
  }

  fieldset legend {
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  line-height: 34px;
  color: #535971;
  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
  }

  fieldset h2, h3 {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #535971;
}

  .fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .col-2 {
    display: flex;
    gap: 22px;
    width: auto;
    align-items: center;
  }

  .input-wrapper label {
    margin-bottom: 8px;
  }

  .input-wrapper label span {
    font-size: 12px;
    line-height: 20px;
    margin-left: 10px;
    color: #6b6970;
  }
  
  .input-wrapper label span:hover {
    color: #2c2c33;
  }

  .input-wrapper input {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 56px;
    padding: 20px;
    color: #6a6870;
  }

  .col-3 {
    display: flex;
    width: 100%;
  }

  .col-3 > div:nth-child(1) {
    width: 100%;
  }

  .col-3 .data {
    margin-right: 32px;
    display: flex;
  }

  .col-3 .time {
    gap: 10px;
    display: flex;
  }

  footer {
    background: #535971;
    height: 160px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;

    padding: 52px 72px;
    margin-bottom: 100px;
  }

  footer .button {
    background: #FF5374;
    height: 56px;
    border: 0;
    border-radius: 20px;
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
  }

  footer .button:hover {
    background: #c9425d;
  }

  input:invalid {
    border: 2px solid #FF5374;
  }

  